/* the styles for the elements */
html{
	background-color: white;
}
/* the rest selector*/
*{
	margin: 0%;
	padding: 0%;
}
/* styles for the elements*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #931420;
	background-color: #fffded;
	}

/* the styles for the header */

header {
	border-bottom-style: solid;
	border-width: 3px;
	border-color: #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
	padding-left: 3.125%;
	padding-right: 3.125%;
	padding-bottom: 1em;
}
header h2{
	padding-top: 1.5px;
	font-size: 170%;
	color: #800000;
}
header h3{
	font-size: 130%;
	font-style: italic;
	text-align: 30px;
	padding-bottom: 2px;
}

/**************************************************************** N A V I G A T I O N   B A R ******************************************************************/

#nav_menu ul {
	list-style-type: none;
	margin-left: auto;
	padding: 0;
	position: relative;
	width: 100%;
}

#nav_menu ul li {
	float: left;
	width: 100%;
}

#nav_menu ul li a {
	text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu ul li a.current {
	color: yellow;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
	top: 100%;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus{
	background-color: gray;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li a:hover {
    background-color: #380000;
    color: white;
}

#nav_menu ul li:hover > ul {
	display: block;
	
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* Displays navbar dropdown menu once user navigates mouse to from menu*/
#nav_menu ul li:hover > ul {
	display: block;
}

/* Hides navbar dropdown menu once user navigates mouse away from menu*/
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

.current {
	color: yellow;
}

/**************************************************************** END NAVIGATION BAR CSS ***********************************************************************/

/* the styles for the main section */
main, section, aside {
	clear: left;
}
.columnone{
	width: 60.937%;
	float: right;
	padding-right: 20px 2.0833;
	padding-left:20px 2.0833;
	padding-bottom: 20px;
}

article {
	float: right;
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px;
	border-top-color: #800000;
	border-bottom: 2px;
	border-bottom-color: #800000;
}

article img {
	float: right;
	margin-top: .25em;
	margin-bottom: .25em;
	margin-left: .25em;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	max-width: 40%;
	min-width: 150px;
}

article h2 {
	padding-top: 0em;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
}

section{
	width: 55%;
	max-width: 525px;
	float: right;
	padding-left: 9.08%;
	padding-right: 9.08%;
	padding-bottom: 9.08%;
}

aside {
	width: 26.562%;
	padding-left: 4.08%;
	padding-bottom: 4.08%;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}


h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

p {
	padding-bottom: .5em;
}

blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0%;
	margin-bottom: 0%;

}


ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

li {
	padding-bottom: .35em;
}

a:hover {
	font-style: italic;
}

.shadow {
	text-shadow: 2px 2px #800000;
}


/* the styles for the footer */

#foot {
	text-align: center;
	background-color: #931420;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
}
.clearfix::after{
	clear: both;
	content: "";
	display: table;
}
#mobilemenu{
	display: none;
  }
  @media only screen and (max-width: 959px){
	section h1{
		font-size: 135%;
	}
	section h2{
		font-size: 120%;
	}
	aside h2{
		font-size: 120%;
	}
  }
  @media only screen and (max-width: 767px){
	  #nav_menu {
		  display: none;
	  }
	  #mobliemenu{
		  display: block;
	  }
	  .slicknav_menu{
		  background-color: #800000 !important;
	  }
	  header img{
		  float: none;
		  max-width: 30%;
	  }
	  header{
		  margin: 0;
	  }
	  .columnone{
		  float: none;
		  width: 95%;
	  }
	  aside{
		  float: none;
		  padding-right: 20px 2.0833;
		  width: 95%;
		  text-align: center;
		  margin: auto;
	  }
		article{
			text-align: center;
			margin: auto;
		}
	@media only screen and (max-width: 479px) {
		body{
			font-size: 90%;
		}
	}

  
  }
  












































